@media (min-width: 641px) and (max-width: 960px) {
  header, footer {
    height: 960px;
  }

  header:before {
    background: url('../images/football_1280.jpg');
    background-size: cover;
  }

  header .content, 
  footer .content {
    padding: 40px 58px 91px;
  }

  svg.logo {
    height: 56px;
  }

  .header-title-wrapper span {
    padding: 0 24px;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 2px
  }

  .header-title-wrapper span:last-child {
    margin-bottom: 3em;
  }

  .app-buttons-wrapper {
    display: flex;
    align-items: center;
  }

  .app-button {
    height: 77px;
    border-radius: 38.5px;
    margin: 0;
  }

  .app-button:nth-child(odd) {
    margin-right: 31px;
  }
  
  .app-button-icon-wrapper {
    width: 65px;
  }

  svg.app-button-icon { 
    height: 42px;
  }

  .app-button-text {
    flex-grow: 0.5;
    font-size: 14px;
  }



  /* ==== Inner articles ==== */

  h2.section-title {
    font-size: 80px;
    line-height: 60px;
  }

  .section-title-wrapper {
    padding: 86px 21px 20px;
  }

  .text-wrapper {
    padding: 33px 0 34px;
  }

  .text-wrapper-ultralight-color {
    background-color: transparent;
  }

  .article-img-wrapper {
    /* !!! Временные стили! Надо через сетку */
    position: absolute;
    margin-top: 86px;
    /* order: 0; */
    /* display: none; */
  }

  .section-features:nth-child(even) .article-img-wrapper {
    left: -20%;    
    height: 300%;

  } 

  .section-features:nth-child(odd) .article-img-wrapper {
    right: 0; 
    top: -34px;   
  } 

  .section-features:nth-child(even) .text-wrapper,
  .section-features:nth-child(even) .section-title-wrapper {
    padding-left: 38%;
    padding-right: 33px;
  }

  .section-features:nth-child(odd) .text-wrapper,
  .section-features:nth-child(odd) .section-title-wrapper  {
    padding-left: 33px;
    padding-right: 38%; 
  }  

  h3.text-title {
    font-size: 32px;
    line-height: 35px;
  }

  .text-wrapper p {
    font-size: 16px;
    line-height: 28px;
  }

  .text-title-num {
    font-size: 18px;
  }

  .article-num-wrapper {
    width: 116px;
    height: 116px;
    top: -85px;
    margin-bottom: -85px;
    margin-left: 33px;
  }

  .article-num-wrapper .text-title-num {
    font-size: 24px;
  }

  .article-alt h3.text-title {
    padding: 0 0 37px;
    font-size: 80px;
    line-height: 60px;
  }

  .article-alt .text-wrapper {
    padding: 57px 32px 59px
  }

  .article-alt .text-wrapper p {
    font-size: 24px;
    line-height: 28px;
  }

  footer:before {
    background: url('../images/game_1280.jpg');
  }

  footer .content {
    padding: 124px 58px 26px;
  }

  .app-icon-wrapper {
    width: 132px;
    height: 138px;
    padding: 16px;
    border-radius: 28px;
    margin-bottom: 72px;
  }

  .download-text-title {
    font-size: 78px;
  }

  .download-text-subtitle {
    font-size: 36px;
  }

}

