@media (min-width: 961px) {
  header, footer {
    height: 960px;
  }

  header:before {
    background: url('../images/football_1920.jpg');
    background-size: cover;
  }

  header .content, 
  footer .content {
    padding: 45px 185px 110px;
  }

  svg.logo {
    height: 52px;
  }

  .header-title span {
    padding: 0;
    font-size: 90px;
    line-height: 110px;
    letter-spacing: 3.3px
  }

  .header-title span:last-child {
    margin-left: 9ch;
  }

  .app-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-button {
    height: 78px;
    width: auto;
    border-radius: 40px;
    padding: 0 33px;
    margin: 0;
  }

  .app-button:nth-child(odd) {
    margin-right: 51px;
  }
  
  .app-button-icon-wrapper {
    /* !!! Заданы оба размера */
    width: 68px;
  }

  svg.app-button-icon { 
    height: 48px;
  }

  .app-button-text {
    width: 170px;
    font-size: 14px;
  }



  /* ==== Inner articles ==== */

  h2.section-title {
    /* Слить */
    font-size: 80px;
    line-height: 60px;
  }

  .section-title-wrapper {
    padding: 112px 21px 44px
  }

  .text-wrapper {
    background-color: transparent;
    padding: 60px 0 52px;
  }


  .text-wrapper-ultralight-color {
    background-color: transparent;
  }

  .article-img-wrapper {
    position: absolute;
    margin-top: 24px;
  }

  .section-features:nth-child(even) .article-img-wrapper {
    left: calc(50% - 566px);    
  } 

  .section-features:nth-child(odd) .article-img-wrapper {
    right: calc(54% - 991px); 
    top: 0;   
  } 

  .section-features:nth-child(even) .text-wrapper,
  .section-features:nth-child(even) .section-title-wrapper {
    padding-left: 53%;
    padding-right: 100px;
  }

  .section-features:nth-child(odd) .text-wrapper,
  .section-features:nth-child(odd) .section-title-wrapper  {
    padding-left: 190px;
    padding-right: 47%; 
  }  

  h3.text-title {
    font-size: 37px;
    line-height: 35px;
  }

  .text-wrapper p {
    font-size: 20px;
    line-height: 28px;
  }



  .text-title-num {
    font-size: 20px;
  }

  .article-num-wrapper {
    position: absolute;
    top: calc(13.7vw - 4vw + 19px);
    width: 8.6vw; /* 166px */
    height: 8.1vw; /* 156px */
    margin: 0;
  }

  .article-num-wrapper .text-title-num {
    font-size: 24px;
    line-height: 35px;
  }

  .article-alt {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
  }

  .article-alt .article-back-img,
  .article-alt .text-wrapper {
    flex-basis: 50%;
  }

  .article-alt:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .article-alt h3.text-title {
    padding: 0 0 4.8vw;  /* 92px */
    font-size: 4.2vw; /* 80px */
    line-height: 5.4vw; /* 104px */
  }

  .article-alt .text-wrapper {
    position: relative;
    justify-content: center;
    padding: 13.7vw 8.9vw 0 6.7vw;
  }

  .article-alt:nth-child(odd) .text-wrapper {
    padding: 13.7vw 6.7vw 0 8.9vw;
  }

  .article-alt .text-wrapper p {
    font-size: 24px;
    line-height: 28px;
  }

  footer:before {
    background: url('../images/game_1920.jpg');
  }

  footer .content {
    padding: 210px 0 58px;
  }

  .download-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-icon-wrapper {
    width: 132px;
    height: 138px;
    padding: 16px;
    border-radius: 28px;
    margin: 0 32px 0 0;
  }

  .download-text-title {
    font-size: 86px;
    line-height: 1.2em;
  }

  .download-text-subtitle {
    font-size: 30px;
    text-align: left;
  }

}

/* ==== Ultra-wide ==== */
@media (min-width: 1921px) {
/*   .header-title {
  } */

  .section-features:nth-child(even) .text-wrapper,
  .section-features:nth-child(even) .section-title-wrapper {
    padding-right: calc(50vw - 810px);
  }

  .section-features:nth-child(odd) .text-wrapper,
  .section-features:nth-child(odd) .section-title-wrapper  {
    padding-left: calc(50vw - 810px);
  }  

  .article-alt h3.text-title {
    padding: 0 0 92px;
    font-size: 80px;
    line-height: 104px;
  }

  .article-alt .text-wrapper {
    padding: 263px calc(50vw - 790px) 0 129px;
  }

  .article-alt:nth-child(odd) .text-wrapper {
    padding: 263px 129px 0 calc(50vw - 790px);
  }

  .article-num-wrapper {
    top:  211px;
    width: 166px;
    height: 156px;
  }
}