@font-face {
  font-family: "OpenSans Regular";
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans Bold";
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}


/* ==== Header + Header/Footer common items ==== */

header, footer {
  position: relative;
  height: 568px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

picture.back > * {
  /* width: 100%; */
  height: 100%;
}

header .content, 
footer .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 33px 18px 70px;
  background: rgba(10, 14, 52, 0.9);
}

a.logo-wrapper {
  margin:  0 auto;

}

svg.logo {
  height: 36px;
}

svg.logo > g {
  fill: #fff;
}

.header-title-wrapper {
  padding-top: 45px;
}

.header-title-wrapper h1 {
  color: #fff;
  font-family: "OpenSans Bold", Arial, sans-serif;
  font-size: 28px;
  line-height: 31.32px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-title-wrapper h1:nth-child(even) {
  margin-left: 3ch;
}

.app-buttons-wrapper {
  position: relative;
}

.app-button {
  width: 100%;
  height: 35px;
  margin-bottom: 14px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 17.5px;
  border: none;
  background-color: #5e42b0;
}

.app-button-icon-wrapper {
  /* height: 100%; */
  width: 29px;
}

svg.app-button-icon {
  height: 24px;
  width: auto;
  fill:  #fff;
}

.app-button-text {
  display: inline-block;
  width: 90px;
  height: 100%;
  margin-left: 5px;
  font-family: "OpenSans Regular", Arial, sans-serif;
  font-size: 8px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  /* vertical-align: middle; */
}

.app-button-text span {
  font-family: "OpenSans Bold", Arial, sans-serif;
}


/* ==== Inner articles ==== */

article {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  /* height: 568px; */
}

.article-title-wrapper {
  padding: 24px 21px 16px;
}

h2.article-title {
  color: #e7e7e7;
  font-family: "OpenSans Bold", Arial, sans-serif;
  font-size: 50px;
  line-height: 40px;

  text-transform: uppercase;
}

.article-text-wrapper {
  padding: 60px 21px;
}

.article-text-title-wrapper {
  display: flex;    
  padding-bottom: 20px;

}

.article-text-title-num-wrapper {
  position: relative;
  display: inline-block;
}

.article-text-title-num {
  font-family: "OpenSans Bold", Arial, sans-serif;
  font-size: 14px;
}

.article-text-title-num-border {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #5e42b0;
}

h3.article-text-title {
  padding-left: 8px;
  color: #c1c1c1;
  font-family: "OpenSans Bold", Arial, sans-serif;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.article-text-wrapper p {
  font-family: "OpenSans Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.06em;
}

.article-img-wrapper {
  position: relative;
  margin-bottom: -40px;
  text-align: center;
  z-index: 2;
}

.article-text-wrapper.article-text-wrapper-alt0 {
  background: #fafafa;
}

.article-text-wrapper.article-text-wrapper-alt1 {
  background: #f5f4f9;
}

.article-text-wrapper.article-text-wrapper-alt2 {
  background: #5e42b0;
}

.article-text-wrapper.article-text-wrapper-alt2 p,
.article-text-wrapper.article-text-wrapper-alt3 p {
  color: #fff;
}

.article-text-wrapper.article-text-wrapper-alt2 .article-text-title-num-border,
.article-text-wrapper.article-text-wrapper-alt3 .article-text-title-num-border {
  background: #fff;
}

.article-text-wrapper.article-text-wrapper-alt3 {
  background: #090c35;
}

.article-text-wrapper.article-text-wrapper-alt3 .article-text-title-num {
  color: #8765dd;
}

.article-back-img > * {
  position: relative;
  width: 100%;
  vertical-align: middle;
}


.article-alt .article-text-wrapper {
  padding: 33px 21px 77px;
}

.article-alt h3.article-text-title {
  padding: 0 0 24px;
  font-size: 28px;
}

.article-num-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  top: -58px;
  margin-bottom: -58px;
  background-color: #5e42b0;
}

.article-num-wrapper .article-text-title-num {
  color: #fff;
}

.article-num-wrapper .article-text-title-num-border {
  background-color: #8d7ac7;
}


/* ==== Footer ===== */

footer .content {
  padding: 99px 21px 10px;
}

.app-icon-wrapper {
  width: 72px;
  height: 74px;
  margin: 0 auto;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-bottom: 59px;
  background-color: #7252cf;
}

.app-icon {
  width: 100%;
}

.app-icon > g {
  fill: #fff;
  stroke: #2e099c
}

.download-text-wrapper {
  text-align: center;
}

h2.download-text-title {
  font-family: "OpenSans Bold", Arial, sans-serif;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
}

h3.download-text-subtitle {
  font-family: "OpenSans Regular", Arial, sans-serif;
  color: #9b8ec1;
  font-size: 14px;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  /* предыдущая вёрстка */
}
